@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../font/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../font/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../font/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../font/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
	background: #EFEFEF url(../images/img-noise-361x370.png) repeat 0 0;
}
nav {
	height:80px;
	line-height:80px;
	background:#B71C1C;
	border-bottom:1px solid #B71C1C;
	box-shadow:0 4px 3px 0 rgba(0, 0, 0, 0.08), 0 2px 0px 0 rgba(0, 0, 0, 0.12);
}
nav .nav-wrapper i {
	height:80px;
	line-height:80px;
}

.welcome-user {
  display: inline;
  margin-left: 180px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
}

.welcome-user-mobile .material-icons {
  display: inline;
  position: relative;
  top: 8px;
}
.welcome-user-mobile {
  display: block;
  padding-left: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  color: #931111;
  border-bottom: 1px solid;
  line-height: 1px;
}
.basic-price {
	font-size:1.3em;
	line-height:110%;
  min-height: 63px;
}
.basic-revealtitle {
	font-weight:400;
  display: inline-block;
  font-size: 21px;
  width: 83%;
}
.close-icon {
  position: absolute;
}
.basic-morevertical {
	cursor:pointer;
}
.basic-grey {
	color:#5E534E;
}
.basic-link a:hover {
	text-decoration:underline;
}
.basic-add-tray {
	text-transform:none;
}
footer.page-footer {
	background:#000913;
  margin-top:0px;
}
footer.page-footer .footer-copyright {
	background:rgb(0, 7, 14);
}
footer.page-footer ul li a {
	color:#F9FFFF;
}
footer.page-footer .footer-copyright a {
	color:#CCC;
}
footer.page-footer ul li a:hover,
footer.page-footer .footer-copyright a:hover {
	color:#85C9FF;
}
footer .divider {
	height:.8px;
	background:rgba(0, 40, 82, 0.34) /*#DE0A16;*/;
}
/* Navigation */
nav .brand-logo {
	top:4px;
	z-index:5;
}
nav ul li a {
	color:#FFF;
	font-size:1.1em;
}
nav ul a:hover {
    background:#CC1F1F;
}
nav ul a.active {
	background:#A91212;
}
.side-nav a {
	color:#FFF;
}
div#nav-mobile.side-nav li:hover {
	background:#CC1F1F;
}
div#nav-mobile.side-nav li.active {
	background:#A91212;
}
div#nav-mobile.side-nav a {
	color:#B71C1C;
	font-size:1.2em;
}
div#nav-mobile.side-nav a:hover,
div#nav-mobile.side-nav a.active {
	color:#FFF;
	background:none;
}
.button-collapse {
	color:#FFF;
}
/* Border All */
#header.divider {
	height:1px;
	background:#B71C1C /*#DE0A16;*/;
}
#register.divider {
	height:1px;
	background:rgba(158, 158, 158, 0.5);
}
/* Cards */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color:#0089EC; 
    margin-right:20px;
    transition:color .3s ease;
    text-transform:uppercase;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color:#B1DCFB;
}
/* Contact Form Map */
#map {
	min-height:300px;
}
#map-i.material-icons, #menu-i.material-icons {
	line-height:inherit;
}
/* Forms */

 /* label color */
   .input-field label {
     color:#5E534E;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label,
   .input-field input[type=email]:focus + label,
   .input-field input[type=password]:focus + label,
   .input-field input[type=number]:focus + label,
   .input-field input[type=tel]:focus + label,
   textarea.materialize-textarea:focus:not([readonly]) + label,
   .dropdown-content li > span,
   .dropdown-content li > a   {
     color:#0089EC;
   }
   .input-field .dropdown-content li.disabled a,
   .input-field .dropdown-content li.disabled span {
     color: rgba(0, 0, 0, 0.3);
     background-color: transparent;
   }
   
   /* label underline focus color */
   .input-field input[type=text]:focus,
   .input-field input[type=text]:focus.valid,
   .input-field input[type=text]:focus.invalid,
   .input-field input[type=email]:focus,
   .input-field input[type=password]:focus, 
   .input-field input[type=number]:focus,
   .input-field input[type=tel]:focus,
   .input-field textarea.materialize-textarea:focus {
     border-bottom: 1px solid #0089EC;
     box-shadow: 0 1px 0 0 #0089EC;
   }
   /* valid color */
   .input-field input[type=text].valid,
   .select-dropdown .valid {
     border-bottom: 1px solid #4CAF50;
     box-shadow: 0 1px 0 0 #4CAF50;
   }
   /* invalid color */
   .input-field input[type=text].invalid,
   .select-dropdown .invalid {
     border-bottom: 1px solid #F44336;
     box-shadow: 0 1px 0 0 #F44336;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }
   input[type=number] {
	 width:40%;  
	 height:auto;
	 margin:0;  
   }

.add-c-profile td {
	padding: 20px 10px;
	border-radius: 0;
}

.add-c-profile table {
	border-collapse: separate;
	border-spacing:0 8px;
}

a.hover-user {
	color:#B71C1C;
}

a.hover-user:hover {
	color:#039be5;
}
/* Menu Navigation */   
.menu-divider {
	background:#F2F2F2;
}
.menu-nav li {
	float:none;
	padding:0 4px;
	line-height:35px;
}
ul.menu-nav li, ul.menu-nav a {
	transition:background-color .3s;
}
.menu-nav a {
    color:#444;
    display:block;
    font-size:1.1em;
    height:35px;
    line-height:35px;
    padding:0 4px;
	cursor:pointer;
}
ul.menu-nav li:hover {
	background:#CC1F1F;
}
ul.menu-nav li.active {
	background:#A91212;
}
ul.menu-nav a:hover,
ul.menu-nav a.active {
	color:#FFF;
	background:none;
}
/* Menu Content */
.hidden {
	display:none;
}
/* Delivery Modal */
.basic-modal {
	width:30%;
}
.basic-modalfooter {
	padding:5px 10px !important;
}
[type="radio"]:checked + label:after {
    border: 2px solid #B71C1C;
    background-color: #B71C1C;
}
.basic-modal label {
	color:#9e9e9e;
}
/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 440px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .welcome-user {
  display: none; 
  }
}

@media only screen and (max-width : 600px) {

#index-banner .section {
top: 0;
}
.basic-modal {
  width:55%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}